venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ML models
*.h5

# uploads
uploads/
static/uploads/

# OS files
.DS_Store
Thumbs.db

# database
*.db# Python
__pycache__/
*.pyc

# Models
*.h5

# Videos
*.mp4
*.webm

# Database
*.db

# VS Code
.vscode/

# OS
.DS_Store
